body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

main {
    margin: 0 10em;
    padding-bottom: 3em;
}

/* NAV */

.navigation-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navigation-bar-container>.nav>ul {
    display: flex;
    flex-direction: row;
    padding: 1.5em;
}

.navigation-bar-container>.nav>ul>li {
    padding: 1em;
}

.navigation-bar-container>.nav>ul>li>a {
    color: black;
}

.linkedin-link {
    font-weight: bold;
}

.logo {
    max-width: 9.5em;
}

/* FOOTER */

footer {
    margin-top: 8em;
}

.top-footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(225, 225, 225);
    margin-bottom: 2em;
}

.footer-logo {
    margin-bottom: 1em;
}

.footer-social-icons a {
    width: auto;
    margin-right: 2em;
    color: black;
}
