/* HERO SECTION */

header {
    display: flex;
    max-width: 100%;
    padding-top: 2em;
    justify-content: space-between;
    gap: 4em;
}

.header-text {
    width: 460px;
    letter-spacing: .5px;
}

.header-text > h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
}

.welcome-tagline {
    font-weight: bold;
}

.lexi-span {
    color: #CB67FF;
}

.subtitle-text {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.cta-button {
    font-weight: bold;
    padding: .5em 2em;
    border-radius: 30px;
    color: white;
    background-color: #CB67FF;
}

.gradient-button {
    background: linear-gradient(to right, #74C0FC, #CB67FF);
    /* Adjust the background size for animation */
    background-size: 200% 100%;
    /* Initial background position */
    background-position: 0% 0%;
    color: white;
    padding: .5em 1.2em;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-position 0.3s ease;
}

.gradient-button:hover {
    background-position: 100% 0%;
}

.header-testimonial {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
}

.header-testimonial > img {
    max-width: 30em;
    position: relative;
    z-index: 1;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.testimonial-block {
    position: absolute;
    bottom: 2em;
    right: 2em;
    background: white;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    max-width: 400px;
    z-index: 2;
}

.testimonial-content {
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 1em;
}

.testimonial-author {
    font-weight: bold;
    color: #333;
}

.section-title {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 2.5em;
    margin-bottom: .2em;
}

/* FEATURED PROJECTS SECTION */

.project-cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.project-card {
    background-color: #ffffff;
    padding: 1rem;
    max-width: 30em;
    text-align: left;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.project-content {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project-tag {
    padding: .5em 1em;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

/* SKILLS SECTION */

/* .skill-logos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    padding: 1rem;
}

.skill-logo {
    aspect-ratio: 1;
    max-width: 100px;
} */

.carousel {
    height: 10em;
    width: 100%;
    overflow: hidden;
}
  
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
    height: 200px;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-content img {
    max-width: 6em;
    max-height: 3em;
}

.carousel-content span {
    margin-top: 10px; /* Adjust the spacing between the icon/image and the title */
    font-size: 1.2rem; /* Adjust the font size as needed */
}
